{% extends 'backoffice.layout.html.twig' %}

{% block title %}New Artist{% endblock %}

{% block body %}
    <h5 class="text-center my-3" >Ajouter un nouvel artiste</h5>


    {{ include('artist/_form.html.twig') }}


    <a href="{{ path('artist_index') }}"> <button class="btn" style="background-color: #eb9486">Retour à la liste</button></a>
{% endblock %}
