{% extends 'base.html.twig' %}

{% block body %}


    <div class="prices">

        <h1>TARIFS ET RESERVATION</h1>
        <br>
    <div class="row justify-content-center">
    <table>

        <thead>
        <tr>
            <th></th>
            <th class="people">Plein tarif</th>
            <th class="people">Tarif réduit enfant (- 10ans)</th>
            <th class="people">Tarif réduit groupe(8 et +)</th>
            <th class="people">Tarif réduit école </th>
        </tr>

        </thead>

        <tbody>
        <tr>

            <td class="day">Toutes les séances (tarif en euros)</td>
            <td class="price"> 25</td>
            <td class="price"> 15 </td>
            <td class="price"> 15 </td>
            <td class="price"> 15 </td>
        </tr>



        </tbody>

    </table>
    </div>

    </div>
<br>
    <div class="row justify-content-center">


    <h2 class="col-3">Ajouter une nouvelle réservation</h2>
    </div>
    <br>
        {{ include('front/_form.html.twig') }}


    <br>
    <br>
    <br>


{% endblock %}