{% extends 'base.html.twig' %}

{% block body %}


    <div class="prices">

    <h4><img src="https://i.ibb.co/bm8nTLW/priceslogo.png" alt="priceslogo"/></h4>

    <table>

        <thead>
        <tr>
            <th></th>
            <th class="people">Adult</th>
            <th class="people">Child (- 10yrs)</th>
            <th class="people">Group (8 and +)</th>
            <th class="people">School </th>
        </tr>

        </thead>

        <tbody>
        <tr>

            <td class="day">Week except wednesday</td>
            <td class="price"> 25$</td>
            <td class="price"> 15$ </td>
            <td class="price"> 15$ </td>
            <td class="price"> 10$ </td>
        </tr>

        <tr>

            <td class="day"> Week-ends & Wednesday</td>
            <td class="price"> 35$</td>
            <td class="price"> 20$</td>
            <td class="price"> 20$</td>
            <td class="price"> 15$</td>
        </tr>

        </tbody>

    </table>
    </div>


{% endblock %}