{% extends 'base.html.twig' %}

{% block title %}Carte des villes{% endblock %}

{% block body %}

    <br>
<div class="text-center">

    <p class="aboutp">Voici la carte des villes où nous allons nous produire prochainement. N'hésitez pas à nous contacter si vous souhaitez que l'on vienne vers chez vous!</p>


<iframe src="https://www.google.com/maps/d/u/1/embed?mid=1mfmTu1M03PpUEQQKLp79kL0NdrCzG41E" width="640" height="480"></iframe>

</div>
    <br>
    <br>
    <br>

{% endblock %}