{% extends 'base.html.twig' %}

{% block body %}

    <p class="aboutp">Votre message a bien été envoyé. </p>
    <div class="row justify-content-center">
    <a href="{{ path('welcome') }}"> <button class="btn" style="background-color: #4D8E8C" >Retour à l'accueil</button></a>

    </div>
{% endblock %}