{% extends 'base.html.twig' %}

{% block body %}

    <p class="aboutp">Votre commande a bien été prise en compte.</p>

    <a href="{{ path('welcome') }}"> <button class="btn" style="background-color: #4D8E8C">Retour à l'accueil</button></a>


{% endblock %}