{% extends 'backoffice.layout.html.twig' %}

{% block title %}Welcome{% endblock %}

{% block body %}
<div class="jumbotron">
    <h1 class="display-4">Bienvenue sur votre interface d'administration!</h1>
    <p class="lead"> aujourd'hui nous sommes le {{ 'now'|localizeddate('full', 'medium', 'fr', 'Europe/Paris'  )}}.</h4></p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href="{{ path('booking_index')}}" role="button">Voir la liste des réservations</a>


</div>

{% endblock %}