{% extends 'base.html.twig' %}
{% block body %}

    <h2>Merci pour votre réservation</h2>

    <h3>Bonjour {{ firstname }} </h3>

    <p>Merci d'avoir effectué une réservation pour notre spectacle. Nous vous attendons avec impatience. </p>

{% endblock %}
