{% extends 'base.html.twig' %}
{% block body %}

    <h2>Merci pour votre message</h2>

    <h3>Bonjour {{ firstname }} </h3>

    <p>Merci de nous avoir contacté. Votre message a bien été pris en compte, nous y répondrons dans les plus brefs délais. </p>

{% endblock %}
