{% extends 'base.html.twig' %}
{% block body %}

    <h2>Nouveau message</h2>


    Voici le message que vous venez de recevoir:

        Nom: {{ lastname }}
    <br>
        Prénom: {{ firstname }}
    <br>
        Email: {{ email }}
    <br>
        Message: {{ message }}




{% endblock %}
